h1 {
    color:#ff5f00;
    text-align: center;
    padding-top: 20px;
}

h2 {
    color:#ff5f00;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}
table {
    margin: 0 auto;
}

a {
    color: #ff5f00 !important;
}
nav {
    width: 1281px;
}
.table {
    text-align: center;
}
.navbar-collapse {
    margin-left: 60%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 40px;
}